@import '../../assets//scss/variables.scss';

.containerRegister {
    position: relative;
    display: inline-block;
    width: 700px;
    height: 400px;
}

.form-register { 
    width: 50%;
    height: 100%;
    border: 1px solid $bg-2;
    background: #ffffff;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

    &:has(:hover .form-register__btn) {
        transition: 0.8s;
        color: #fff;
        background: $bg-2 !important;

        .form-register__title {
            color: #fff;
        }
    }

    &__title {
        color: $bg-2;
        font-size: 25px;
    }

    &__input {
        background-color: #fff;
        border-bottom: 1px solid $bg-2;
        outline: #fff;
        padding: 5px;
        width: 270px;

        &:focus {
            border: 1px solid $bg-2;
            transition: 0.5s;
        }
    }

    &__input input[type="password"] {
        background-color: #fff;
        outline: #fff;
        width: 270px;
    }

    &__input:has(input[type="password"]:focus),
    &__input:has(.ant-input-oulined:hover) {
        border: 1px solid $bg-2 !important;
        transition: 0.5s;
    }

    &__btn {
        width: 270px !important;
        color: #ffffff;
        background: $bg-2;
        &:hover {
            color: $bg-2 !important;
            border: $bg-2 1px solid !important;
            background: $bg-2 transparent !important;
        }
    }

    &__content {
        border: 1px solid $bg-2;
        width: 50%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        display: inline-block;
        background: $bg-2;
        color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &:has(:hover div) {
            transition: 0.6s;
            color: $bg-2;
            border:  $bg-2 1px solid!important;
            background: #fff !important;
            p {
                color: $bg-2;
            }
        }

        p {
            text-align: center;
            color: #ffffff;
            padding: 0 7px;
            margin: 39px 0 48px 0;
        }

        div {
            width: auto;
            padding: 7px 10px;
            height: auto;
            color: $bg-2;
            border-radius: 5px;
            background: #fff;
            margin: 15px 0;
            &:hover {
                background: $bg-2;
                color: #ffffff;
            }

            span {
                font-size: 13px;
                margin-right: 5px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 992px) {
 .containerRegister {
    width: 350px;
 }

 .form-register {
    width: 100%;
    border-radius: 10px;
 }

 .form-register__content {
    display: none;
 }
}