$bg-2: #0b0c10;
$text: #1f2833;
$text-2: #c5c6c7;
$logo: #66fcf1;
$border: #45a29e;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: $text-2;
}

.container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    min-height: 600px;       /* Chiều cao tối thiểu là toàn màn hình */
    background-color: #f3f4f6; /* Màu nền nhẹ nhàng */
  }

.form-layout {
  &__main {
    width: 300px;
    height: 400px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-2;
    padding: 20px;
  }
  &__header {
    text-align: "center";
    color: $text-2;
    height: auto;
    padding-inline: 48;
    line-height: "64px";
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      fill: $text;
    }

    &--box {
      margin-right: 10px;

      a {
        font-size: 14px;
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        background-color: $bg-2;
        transition: all 0.2s background 0s;
        padding: 6px 8px;
        border-radius: 5px;

        &:hover {
          background-color: $text;
          transition: 0.5;
        }
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 5px;

    img {
      width: 30%;
    }
  }
}
