$bg-2: #0B0C10;
$text: #1F2833;
$text-2: #C5C6C7;
$logo: #66FCF1;
$border: #45A29E;

.container {
    position: relative;
    height: 100vh; /* Chiều cao toàn màn hình */
}

.form-layout {
   position: absolute;
   width: 300px;
   height: 400px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);    
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $bg-2;
   padding: 20px;
}