@import '../../../assets//scss/variables.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: $text-2;
    background-color: #e5e5e5;
}

.layout-default {
    min-width: 100vh;
    svg {
        fill: $logo;
    }
    &__sider {
        color: $text-2;
        background: $bg-2;
        height: 100vh;
        line-height: 120;
        .ant-menu {
            &-item {
                padding-left: 28px;
                width: 100%;
                margin: 0;
            }
            background: $bg-2;
            li {
                color: $text-2;
                border-radius: 0;
                background: $text;
                &:hover {
                    background: $bg-2;
                }
            }
        }
        .ant-menu-submenu-title {
            color: $text-2 !important;
            margin-bottom: 10px;
        }
        .ant-menu-title-content {
            overflow: visible !important;
            text-overflow: initial !important;
        }
    }

    &__header {
        text-align: center;
        color: $bg-2;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
        background: #e5e5e5 !important;
        background: fixed;
        height: 64;
        padding-inline: 48;
        line-height: '64px';
        display: flex;
        justify-content: space-between;

        svg {
            fill: $text;
        }

        &--box {
            margin-right: 10px;
            
            a {
                font-size: 14px;
                margin-right: 10px;
                color: #fff;
                text-decoration: none;
                background-color: $bg-2;
                transition: all 0.2s, background 0s;
                padding: 6px 8px;
                border-radius: 5px;

                &:hover {
                    background-color: $text;
                    transition: 0.5;
                }
            }
        }
    }


    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 5px;

        img {
            width: 30%;
        }
    }

    .ant-layout-content {
        &__main {
            width: 100%;
            height: 100%;
        }
    }

    &__footer {
        text-align: center;
        color: $bg-2;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
        font-size: 14px;
    }
}