@import '../../assets/scss/variables.scss';
$borderWidth: 10px;

.profile {
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

    &__group {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__infor {
        padding: 20px 10px;
        padding: 10px;
        display: flex;
        justify-content:flex-start;
        align-items: center ;
        flex-direction: column;
        height: 100%;
        background-color: $bg-2;
        border-radius: 10px;
        margin-right: 10px;
        z-index: 0;
        .ant-input {
            color: #fff !important;
        }
        label {
            color: #fff !important;
        }
    }

    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    &__avatar {
        width: 100%;
        height: 201px;
        background: #1D1F20;
        position: relative;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:hover {
                transform: scale(1.7);
                transition: all 0.8s;
            }
        }

        span {
            font-size: 100px;
            height: 100%;
            width: 100%;
        }

        &:hover:after {
            display: inline-block;
        }

        &--mini {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            bottom: -25%;
            right: calc(50% - 50px);
            transform: translateX(50%, 50%);
            z-index: 9999;
            border: 5px solid $bg-2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                &:hover {
                    transform: scale(1);
                    transition: all 0.8s;
                }
            }
        }
    }

    &__avatar:after {
        content: '';
        display: none;
        position: absolute;
        top: -5px;
        left: -5px;
        height: 104%;
        width: 102%;
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: 5px;
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }

    &__form {
       .ant-form-item {
         margin-bottom: 15px !important;
       }
    }

    &__achievement {
        min-height: 200px;
        background-color: $text;
        border-radius: 10px;
    }
    &__statistic {
        height: 100px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 10px;
        &--item {
            margin-bottom: 30px;
            p {
                color: #fff
            }
        }
    }
    .ant-upload-select {
        display: inline-block !important;
        width: 30px !important;
        height: 30px !important;
        position: absolute;
        bottom: 0;
        right: 0;
        svg {
            fill: whitesmoke
        }
    }
    .ant-upload-list-item-thumbnail {
        display: none !important;
    }
    .ant-upload-list-item-container {
        display: none !important;
    }
}