@import "../../assets//scss/variables.scss";

.ant-layout-content {
  height: auto !important;
  padding: 0 !important;
  background-color: #fefeff !important;

}

.home {
  padding: 80px 20px;
  width: 100%;
  height: auto;
  background: linear-gradient(
      45deg,
      rgba(5, 5, 7, 0.9) 0%,
      $bg-2 100%
    ),
    url('../../../public/images/bgHome.jpg')
      center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &__main {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    text-align: center;
  }

  &__title {
    color: #fefeff;
  }

  &__content {
    font-size: 18px;
    color: #fefeff;
    margin: 20px 0;
  }

  &__btn {
    background-color: transparent;
    color: #fefeff;
    border: 2px solid $text-2;
    padding: 7px 25px 7px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        transition: 0.6s;
        font-weight: 600;
        color: $bg-2;
        background-color: #fff;
        transition: 0.7s;
      }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @keyframes move {
        from {
          transform: translateY(0);
        }

        to {
          transform: translateY(20px);
        }
      }

      width: 100%;
      height: auto;
      animation: infinite alternate linear 2s;
      animation-name: move;
    }
  }
}