@import '../../assets/scss/variables.scss';

.form {
    width: 300px;
    height: auto;
    border: 1px solid $bg-2;
    background: #ffffff;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &__input {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $bg-2;
        background-color: #fff !important;
        outline: #fff;

        &:focus {
            border: 1px solid $bg-2;
        }
    }

    &:has(.form__btn:hover) {
        transition: 0.8s;
        color: #fff;
        background: $bg-2 !important;

        .form__title {
            color: #fff;
        }

        .form__btn--otp {
           background: $bg-2;
            border: $bg-2 1px solid!important;
        }
    }

    &__btn {
        &--otp {
            width: auto;
        }
        color: #ffffff;
        background: $bg-2;
        &:hover {
            color: $bg-2 !important;
            border: $bg-2 1px solid !important;
            background: $bg-2 transparent !important;
        }
    }

    .ant-form-item-control-input-content {
        &:has(.form__title) {
            display: flex;
            justify-content: center;
        }
        width: 100%;
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}