@import '../../../assets/scss/variables.scss';

.user {
    padding: 20px;
    &__item {
        border: 1px solid $text-2;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        margin-right: 5px;
    }
    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
    }
    &__content {
        width: 70%;
    }
    &__btn {
        display: flex;
        justify-content: flex-start;
        &--add {
            margin-right: 5px;
            cursor: pointer;
        }
    }
}